.l-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.l-card {
    width: 650px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 40px 30px 40px;
    background-color: rgb(44, 43, 45);
}
.l-card-txt-wrapper {
    padding: 50px 10px;
}
.l-card-txt-wrapper h1 {
    font-size: 60px;
    letter-spacing: 2px;
    color: rgb(158, 81, 209);
    margin-bottom: 20px;
}
.l-card-txt-wrapper p {
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 18px;
}
.l-card-input {
    width: 100%;
    outline: none;
    font-size: 18px;
    color: #5e5959;
    padding: 15px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}
.l-card-btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 10px 0 10px;
    justify-content: space-between;
}
.l-card-btn-link {
    color: #ffffff;
    text-decoration: underline;
    font-size: 14px;
}
.l-card-btn-wrapper button {
    background-color: rgb(184, 121, 226);
    border: rgb(97, 6, 158) 2px solid;
    transition: 0.3s all;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 15px 55px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
}
.l-card-btn-wrapper button:hover {
    background-color: rgb(134, 73, 175);
    border: #ffffff80 2px solid;
    transition: 0.3s all;
}